-------
Average of First n Numbers
----

In [3]:
n = 10
sum = 0

for i in range(1, n + 1):
    sum += i

avg = sum / n

print("Average of first ", n, ' numbers is ', avg)

Average of first  10  numbers is  5.5

---
Factorial of a Number
--

In [8]:
n = 5
fac = 1

for i in range(1, n + 1):
    fac *= i

print(f"Factorial of {n} is {fac}")

Factorial of 5 is 120

------------------------------------
Check Whether Number is Prime or Not
------------------------------------

In [15]:
def prime(num):
    if num == 1:
        return "Neither Prime Nor Composite"
    for i in range (int(num/2), num):
        if num % i == 0:
            return 'Composite'
    return 'Prime'

#5 Test Cases
print(f'1 is {prime(1)}')
print(f'2 is {prime(2)}')
print(f'5 is {prime(5)}')
print(f'64 is {prime(64)}')
print(f'123 is {prime(123)}')

1 is Neither Prime Nor Composite
2 is Composite
5 is Prime
64 is Composite
123 is Prime

---
Series
---

In [18]:
n = int(input())
sum = 0

for i in range(1, n + 1):
    sum = sum + (1 / i)

print('Showing Result for n = 5\n\n', sum)

Showing Result for n = 5

 2.283333333333333

---
Calendar
---

In [33]:
days = {'Sunday':0, 'Monday': 1, 'Tuesday':2, 'Wednesday':3, 'Thursday':4, 'Friday':5, 'Saturday':6}

start_day = input("Enter start day: ")
num_of_days = input("Enter Number Of Days: ")
day = days[start_day]

a = [[],[],[],[],[],[],[],[]]
l = 1
a[0] = ['S','M','T','W','T','F','S']

for i in range(1,6):
    a[i] = ['','','','','','','']

for i in range(1,6):
    for j in range(7):
        if i == 1 and j < day:
            pass
        elif l > int(num_of_days):
            break
        else:
            a[i][j] = l
            l += 1
print('Showing Result for \nStart day = Thursday\nNumber of days = 30\n\n')

for i in range(6):
    for j in range(7):
        print(a[i][j], '\t', end = '')
    print('')

Showing Result for
Start day = Thursday
Number of days = 30


S 	M 	T 	W 	T 	F 	S
 	 	 	 	1 	2 	3
4 	5 	6 	7 	8 	9 	10
11 	12 	13 	14 	15 	16 	17
18 	19 	20 	21 	22 	23 	24
25 	26 	27 	28 	29 	30

---
Pattern
---

In [28]:
n = 5

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end = ' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

---
LAB 3 & 4
---

In [43]:
#Create a List

alist = [1, 2, 3, 4, 5]
blist = list(range(1,6))

print(alist)
print(blist)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [44]:
#Create a Tuple

atuple = (1, 2, 3, 4, 5)
btuple = tuple(range(1, 6))

print(atuple)
print(btuple)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [45]:
#difference between list and tuple
#list is mutable while tuple is not

alist[0] = 0
blist[1] = 0

print(alist)
print(blist)

[0, 2, 3, 4, 5]
[1, 0, 3, 4, 5]

In [46]:
atuple[0] = 0

TypeError: 'tuple' object does not support item assignment

In [49]:
#Addition on list and tuple

clist = alist + blist
print(clist)

ctuple = atuple + btuple
print(ctuple)

[0, 2, 3, 4, 5, 1, 0, 3, 4, 5]
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [50]:
#Multiplication on list

dlist = alist * blist

TypeError: can't multiply sequence by non-int of type 'list'

In [51]:
#Multiplication on tuple

dtuple = atuple * btuple

TypeError: can't multiply sequence by non-int of type 'tuple'

In [52]:
#Slicing on list

elist = alist[2:4]
print(elist)

[3, 4]

In [53]:
#Slicing on Tuple

etuple = atuple[2:4]
print(etuple)

(3, 4)

In [65]:
#Create Dictionaries

test_dict = {'Name':'Aniket', 'Age': 19, 'Height':180, 'Weight': 65}
test_dict

{'Name': 'Aniket', 'Age': 19, 'Height': 180, 'Weight': 65}

In [81]:
import pandas as pd
pd.DataFrame(test_dict.values(), index = test_dict.keys())

             0
Name    Aniket
Age         19
Height     180
Weight      65